In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Udhhav").getOrCreate()

22/05/16 12:18:08 WARN Utils: Your hostname, Udhhavs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.9 instead (on interface en0)
22/05/16 12:18:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/16 12:18:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/05/16 12:18:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/05/16 12:18:20 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/05/16 12:18:20 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/05/16 12:18:20 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/05/16 12:18:20 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [5]:
data_path = '/Users/udhhav/Desktop/pyspark/LinkedIn/'
file_path = data_path+"utlization.json"

In [6]:
df = spark.read.format("json").load(file_path)

In [7]:
df.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [8]:
df.count()

500000

In [9]:
df.createOrReplaceTempView('utilization')

In [12]:
df_sql = spark.sql("""
select distinct * from utilization limit 10
""")
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.42|03/05/2019 21:36:14|       0.49|      100|           61|
|           0.46|03/05/2019 23:11:14|       0.37|      100|           42|
|           0.35|03/05/2019 23:21:14|       0.64|      100|           38|
|           0.35|03/06/2019 00:31:14|       0.56|      100|           51|
|            0.6|03/07/2019 10:16:14|        0.5|      100|           63|
|           0.43|03/07/2019 12:56:14|        0.4|      100|           55|
|           0.32|03/07/2019 16:16:14|       0.52|      100|           63|
|           0.38|03/07/2019 23:01:14|       0.43|      100|           70|
|           0.29|03/07/2019 23:41:14|       0.36|      100|           56|
|           0.27|03/08/2019 04:46:14|        0.5|      100|           52|
+---------------+-------------------+-----------+---------+-------------+

In [13]:
df_sql = spark.sql(
"""
select server_id as sid, session_count as sc from utilization

""")
df_sql.show()

+---+---+
|sid| sc|
+---+---+
|100| 47|
|100| 43|
|100| 62|
|100| 50|
|100| 43|
|100| 48|
|100| 58|
|100| 58|
|100| 62|
|100| 45|
|100| 47|
|100| 60|
|100| 57|
|100| 44|
|100| 47|
|100| 66|
|100| 65|
|100| 66|
|100| 42|
|100| 63|
+---+---+
only showing top 20 rows

In [15]:
df_sql = spark.sql("""
select * from utilization where server_id =120
""")
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.55|03/05/2019 08:16:48|       0.61|      120|           54|
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
|           0.53|03/05/2019 08:31:48|       0.35|      120|           49|
|           0.73|03/05/2019 08:36:48|       0.42|      120|           73|
|           0.41|03/05/2019 08:41:48|        0.6|      120|           72|
|           0.62|03/05/2019 08:46:48|       0.57|      120|           57|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|           0.67|03/05/2019 08:56:48|       0.38|      120|           73|
|           0.39|03/05/2019 09:01:48|       0.47|      120|           58|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.38|03/05/2019 09:11:48|       0.38|      120|           56|
|           0.53|03/05/2019 09:16:48|       0.38|      120|           47|
|           0.74|03/05/2019 09:21:48|       0.25|      120|           69|
|           0.53|03/05/2019 09:26:48|       0.57|      120|           73|
|           0.54|03/05/2019 09:31:48|       0.64|      120|           65|
|            0.7|03/05/2019 09:36:48|       0.52|      120|           55|
|           0.54|03/05/2019 09:41:48|       0.27|      120|           74|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [16]:
df_sql.count()

10000

In [17]:
df_sql = spark.sql("""
select server_id, session_count from utilization where session_count > 70
""")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
+---------+-------------+
only showing top 20 rows

In [18]:
df_sql.count()

239659

In [21]:
df_sql = spark.sql("""
select server_id, session_count from utilization where session_count > 70
and server_id = 120
""")
print(df_sql.count())
df_sql.show()

2733
+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           71|
|      120|           73|
|      120|           72|
|      120|           78|
|      120|           73|
|      120|           78|
|      120|           73|
|      120|           74|
|      120|           78|
|      120|           75|
|      120|           75|
|      120|           73|
|      120|           79|
|      120|           72|
|      120|           77|
|      120|           75|
|      120|           72|
|      120|           79|
|      120|           75|
+---------+-------------+
only showing top 20 rows

In [24]:
df_sql = spark.sql("""
select server_id, session_count from utilization where session_count > 70
and server_id = 120
order by session_count desc
""")
print(df_sql.count())
df_sql.show()

2733
+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
+---------+-------------+
only showing top 20 rows

In [27]:
df_sql = spark.sql("""
select server_id, count(*)
from utilization
group by server_id
""")
print(df_sql.count())
df_sql.show()

50
+---------+--------+
|server_id|count(1)|
+---------+--------+
|      103|   10000|
|      104|   10000|
|      106|   10000|
|      100|   10000|
|      105|   10000|
|      101|   10000|
|      102|   10000|
|      112|   10000|
|      113|   10000|
|      110|   10000|
|      107|   10000|
|      111|   10000|
|      108|   10000|
|      109|   10000|
|      119|   10000|
|      116|   10000|
|      114|   10000|
|      115|   10000|
|      120|   10000|
|      118|   10000|
+---------+--------+
only showing top 20 rows

In [29]:
df_sql = spark.sql("""
select server_id, count(*)
from utilization
group by server_id
having server_id = 120
""")
# print(df_sql.count())
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      120|   10000|
+---------+--------+

In [32]:
df_sql = spark.sql("""
select server_id, count(*)
from utilization
where session_count > 70
group by server_id
""")
# print(df_sql.count())
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      103|    8744|
|      104|    7366|
|      100|     391|
|      105|    1110|
|      101|    9808|
|      102|    8586|
|      112|    7425|
|      113|    9418|
|      110|    2826|
|      107|    5646|
|      111|    3093|
|      108|    8375|
|      109|    3129|
|      116|    1167|
|      114|    2128|
|      115|    5284|
|      120|    2733|
|      118|    7913|
|      117|    3605|
|      126|    6365|
+---------+--------+
only showing top 20 rows

In [33]:
df_sql = spark.sql("""
select server_id, count(*)
from utilization
where session_count > 70
group by server_id
order by 2 desc
""")
# print(df_sql.count())
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      101|    9808|
|      113|    9418|
|      145|    9304|
|      103|    8744|
|      102|    8586|
|      133|    8583|
|      108|    8375|
|      149|    8288|
|      137|    8248|
|      148|    8027|
|      123|    7918|
|      118|    7913|
|      112|    7425|
|      139|    7383|
|      104|    7366|
|      121|    7084|
|      142|    7084|
|      146|    7072|
|      126|    6365|
|      144|    6220|
+---------+--------+
only showing top 20 rows

In [36]:
df_sql = spark.sql("""
select server_id, min(session_count),round(avg(session_count),2),max(session_count)
from utilization
where session_count > 70
group by server_id
order by 1 desc
""")
# print(df_sql.count())
df_sql.show()

+---------+------------------+----------------------------+------------------+
|server_id|min(session_count)|round(avg(session_count), 2)|max(session_count)|
+---------+------------------+----------------------------+------------------+
|      149|                71|                       84.96|                99|
|      148|                71|                        84.7|                99|
|      147|                71|                       73.74|                77|
|      146|                71|                       82.95|                95|
|      145|                71|                       86.98|               103|
|      144|                71|                       81.38|                92|
|      143|                71|                        71.0|                71|
|      142|                71|                        82.9|                95|
|      141|                71|                       76.05|                82|
|      140|                71|                       81.29|                92|
|      139|                71|                       83.33|                96|
|      137|                71|                       85.01|                99|
|      136|                71|                       77.96|                85|
|      135|                71|                       73.43|                76|
|      134|                71|                       74.22|                78|
|      133|                71|                       85.47|               100|
|      132|                71|                       74.02|                78|
|      131|                71|                       78.43|                87|
|      130|                71|                       75.51|                80|
|      129|                71|                       76.17|                82|
+---------+------------------+----------------------------+------------------+
only showing top 20 rows