In [2]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.Builder().getOrCreate()
spark

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/15 18:51:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/05/15 18:51:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
data_path = '/Users/udhhav/Desktop/pyspark/LinkedIn/'

In [9]:
file_path = data_path+"utlization.json"

In [12]:
df1 = spark.read.format('json').load(file_path)
df1

DataFrame[cpu_utilization: double, event_datetime: string, free_memory: double, server_id: bigint, session_count: bigint]

In [13]:
df1.count()

500000

In [14]:
df1.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [16]:
df1.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

In [18]:
df = df1.sample(False,fraction=0.1,)

In [19]:
df.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.65|03/05/2019 11:46:14|       0.68|      100|           59|
|           0.66|03/05/2019 14:01:14|       0.69|      100|           56|
|           0.39|03/05/2019 15:01:14|       0.52|      100|           48|
|           0.54|03/05/2019 15:31:14|       0.43|      100|           63|
|            0.4|03/05/2019 16:26:14|       0.72|      100|           51|
|           0.31|03/05/2019 18:36:14|       0.34|      100|           70|
|           0.55|03/05/2019 19:11:14|       0.33|      100|           39|
|           0.57|03/05/2019 19:16:14|       0.45|      100|           47|
|           0.53|03/05/2019 19:21:14|        0.6|      100|           57|
|           0.39|03/05/2019 20:11:14|       0.41|      100|           70|
|           0.32|03/05/2019 20:21:14|       0.41|      100|           66|
|           0.48|03/05/2019 22:41:14|       0.68|      100|           50|
|           0.46|03/05/2019 23:11:14|       0.37|      100|           42|
|           0.63|03/06/2019 01:01:14|       0.58|      100|           59|
|           0.54|03/06/2019 01:06:14|       0.58|      100|           68|
|           0.29|03/06/2019 01:31:14|        0.5|      100|           49|
|            0.5|03/06/2019 02:06:14|       0.38|      100|           44|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [20]:
df_sorted = df.sort('event_datetime')
df_sorted.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.64|03/05/2019 08:06:19|       0.32|      103|           96|
|           0.64|03/05/2019 08:06:26|       0.55|      107|           56|
|           0.69|03/05/2019 08:06:36|       0.38|      113|           71|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.23|03/05/2019 08:11:46|       0.76|      119|           37|
|           0.54|03/05/2019 08:12:21|       0.45|      138|           39|
|           0.74|03/05/2019 08:12:29|       0.23|      142|           79|
|           0.52|03/05/2019 08:17:17|       0.21|      136|           61|
|           0.48|03/05/2019 08:17:28|       0.31|      141|           68|
|           0.26|03/05/2019 08:21:24|       0.45|      106|           38|
|           0.74|03/05/2019 08:21:29|       0.52|      109|           64|
|           0.58|03/05/2019 08:21:41|       0.61|      116|           44|
|            0.7|03/05/2019 08:21:51|       0.33|      122|           86|
|           0.69|03/05/2019 08:22:09|       0.59|      132|           71|
|           0.54|03/05/2019 08:22:21|       0.58|      138|           58|
|           0.66|03/05/2019 08:26:21|       0.48|      104|           79|
|           0.64|03/05/2019 08:26:23|       0.71|      105|           70|
|           0.62|03/05/2019 08:26:38|       0.37|      114|           66|
|            0.6|03/05/2019 08:27:28|       0.38|      141|           63|
|           0.62|03/05/2019 08:27:29|       0.47|      142|           94|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows