In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Udhhav").getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/16 12:36:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/05/16 12:36:27 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/05/16 12:36:27 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/05/16 12:36:27 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/05/16 12:36:27 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/05/16 12:36:27 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
22/05/16 12:36:27 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.

In [2]:
data_path = '/Users/udhhav/Desktop/pyspark/LinkedIn/'
file_path = data_path+"utlization.json"

In [3]:
df_util = spark.read.format("json").load(file_path)

In [4]:
df_util.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [5]:
df_util.createOrReplaceTempView('utilization')

In [6]:
csv_df_path = data_path + "server_name.csv"
df_server = spark.read.csv(csv_df_path,header=True)

In [7]:
df_server.show(10)

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
+---------+-----------+
only showing top 10 rows

In [8]:
df_server.createOrReplaceTempView('server_name')

In [9]:
df_count = spark.sql("select distinct server_id from utilization order by server_id")
df_count.show()

+---------+
|server_id|
+---------+
|      100|
|      101|
|      102|
|      103|
|      104|
|      105|
|      106|
|      107|
|      108|
|      109|
|      110|
|      111|
|      112|
|      113|
|      114|
|      115|
|      116|
|      117|
|      118|
|      119|
+---------+
only showing top 20 rows

In [10]:
df_count = spark.sql("select min(server_id),max(server_id) from utilization")
df_count.show()

+--------------+--------------+
|min(server_id)|max(server_id)|
+--------------+--------------+
|           100|           149|
+--------------+--------------+

In [11]:
df_join = spark.sql("""
select distinct u.server_id, s.server_name, u.session_count
from utilization u inner join server_name s 
on u.server_id = s.server_id
""")
df_join.show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
|      101| 101 Server|           96|
|      101| 101 Server|           70|
|      101| 101 Server|           99|
|      102| 102 Server|           84|
|      104| 104 Server|           69|
|      102| 102 Server|           96|
|      106| 106 Server|           52|
|      104| 104 Server|           91|
|      100| 100 Server|           46|
|      102| 102 Server|           99|
|      103| 103 Server|           90|
|      104| 104 Server|           80|
|      101| 101 Server|          101|
|      105| 105 Server|           55|
|      106| 106 Server|           47|
|      100| 100 Server|           65|
|      100| 100 Server|           70|
|      102| 102 Server|           81|
|      104| 104 Server|           72|
|      105| 105 Server|           61|
+---------+-----------+-------------+
only showing top 20 rows