In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

22/05/15 17:30:53 WARN Utils: Your hostname, Udhhavs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.9 instead (on interface en0)
22/05/15 17:30:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/15 17:30:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [18]:
data_path = '/Users/udhhav/Desktop/pyspark/LinkedIn/'

In [19]:
file_path = data_path+"location_temp.csv"

In [20]:
df1 = spark.read.format("csv").option("header","true").load(file_path)

In [21]:
df1.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [22]:
df1.show(truncate=0)

+-------------------+-----------+------------+
|event_date         |location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|loc0       |29          |
|03/04/2019 19:53:06|loc0       |27          |
|03/04/2019 19:58:06|loc0       |28          |
|03/04/2019 20:03:06|loc0       |30          |
|03/04/2019 20:08:06|loc0       |27          |
|03/04/2019 20:13:06|loc0       |27          |
|03/04/2019 20:18:06|loc0       |27          |
|03/04/2019 20:23:06|loc0       |29          |
|03/04/2019 20:28:06|loc0       |32          |
|03/04/2019 20:33:06|loc0       |35          |
|03/04/2019 20:38:06|loc0       |32          |
|03/04/2019 20:43:06|loc0       |28          |
|03/04/2019 20:48:06|loc0       |28          |
|03/04/2019 20:53:06|loc0       |32          |
|03/04/2019 20:58:06|loc0       |34          |
|03/04/2019 21:03:06|loc0       |33          |
|03/04/2019 21:08:06|loc0       |27          |
|03/04/2019 21:13:06|loc0       |28          |
|03/04/2019 21:18:06|loc0       |33          |
|03/04/2019 21:23:06|loc0       |28          |
+-------------------+-----------+------------+
only showing top 20 rows

In [23]:
df1.count()

500000

In [24]:
file_path_no_header = data_path+"utilization.csv"
file_path_no_header

'/Users/udhhav/Desktop/pyspark/LinkedIn/utilization.csv'

In [25]:
df2 = spark.read.format("csv").option("header","false").option("inferSchema","false").load(file_path_no_header)
df2.show(truncate=0)

+-------------------+---+----+----+---+
|_c0                |_c1|_c2 |_c3 |_c4|
+-------------------+---+----+----+---+
|03/05/2019 08:06:14|100|0.57|0.51|47 |
|03/05/2019 08:11:14|100|0.47|0.62|43 |
|03/05/2019 08:16:14|100|0.56|0.57|62 |
|03/05/2019 08:21:14|100|0.57|0.56|50 |
|03/05/2019 08:26:14|100|0.35|0.46|43 |
|03/05/2019 08:31:14|100|0.41|0.58|48 |
|03/05/2019 08:36:14|100|0.57|0.35|58 |
|03/05/2019 08:41:14|100|0.41|0.40|58 |
|03/05/2019 08:46:14|100|0.53|0.35|62 |
|03/05/2019 08:51:14|100|0.51|0.60|45 |
|03/05/2019 08:56:14|100|0.32|0.37|47 |
|03/05/2019 09:01:14|100|0.62|0.59|60 |
|03/05/2019 09:06:14|100|0.66|0.72|57 |
|03/05/2019 09:11:14|100|0.54|0.54|44 |
|03/05/2019 09:16:14|100|0.29|0.40|47 |
|03/05/2019 09:21:14|100|0.43|0.68|66 |
|03/05/2019 09:26:14|100|0.49|0.66|65 |
|03/05/2019 09:31:14|100|0.64|0.55|66 |
|03/05/2019 09:36:14|100|0.42|0.60|42 |
|03/05/2019 09:41:14|100|0.55|0.59|63 |
+-------------------+---+----+----+---+
only showing top 20 rows

In [26]:
df2.count()

500000

In [27]:
df2.show(10)

+-------------------+---+----+----+---+
|                _c0|_c1| _c2| _c3|_c4|
+-------------------+---+----+----+---+
|03/05/2019 08:06:14|100|0.57|0.51| 47|
|03/05/2019 08:11:14|100|0.47|0.62| 43|
|03/05/2019 08:16:14|100|0.56|0.57| 62|
|03/05/2019 08:21:14|100|0.57|0.56| 50|
|03/05/2019 08:26:14|100|0.35|0.46| 43|
|03/05/2019 08:31:14|100|0.41|0.58| 48|
|03/05/2019 08:36:14|100|0.57|0.35| 58|
|03/05/2019 08:41:14|100|0.41|0.40| 58|
|03/05/2019 08:46:14|100|0.53|0.35| 62|
|03/05/2019 08:51:14|100|0.51|0.60| 45|
+-------------------+---+----+----+---+
only showing top 10 rows

In [28]:
df2 = df2.withColumnRenamed("_c0","event_datetime") \
.withColumnRenamed("_c1","serverid") \
.withColumnRenamed("_c2","cpu_utilization")\
.withColumnRenamed("_c3","free_memory") \
.withColumnRenamed("_c4","session_count")

In [29]:
df2.show(10)

+-------------------+--------+---------------+-----------+-------------+
|     event_datetime|serverid|cpu_utilization|free_memory|session_count|
+-------------------+--------+---------------+-----------+-------------+
|03/05/2019 08:06:14|     100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|     100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|     100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|     100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|     100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|     100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|     100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|     100|           0.41|       0.40|           58|
|03/05/2019 08:46:14|     100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|     100|           0.51|       0.60|           45|
+-------------------+--------+---------------+-----------+-------------+
only showing top 10 rows

22/05/15 17:56:20 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 826699 ms exceeds timeout 120000 ms
22/05/15 17:56:21 WARN SparkContext: Killing executors is not supported by current scheduler.